
body {
    font-family: 'Helvetica';
}

/*
background-img {
    width: 100%;
    height: 400%;
    background-repeat: no-repeat;
    background-image: cover;
}*/

.container-title {
    position:relative;
}

.title {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 26px;
   color: white;
   border-color: rgb(255, 255, 255);
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}


/* TEXT PARAGRAPH */


.text-align {
    text-align: center;
    font-size: 16px;
    padding-left: 120px ;
    padding-right: 120px;
}


.text-description-box {
    padding-top: 30px;
    text-align: center;
    position:relative;
    color: rgb(68, 68, 68);

}


/* RECIPE IMAGE*/

.image-recipe-box {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 10px;
}

.info-recipe {
    width: 250px;
    flex-direction:  center;

}

/* COOKING IMAGE*/


.image-cooking-box {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 30px;

    
}

.info-cooking-box {
    width: 250px;
    flex-direction:  center;
    padding-bottom: 10px;
    

}



/* INGREDIENTS */


.ingredients-box {
    display: flex;
    text-align: left;
    font-size: 14px;
    flex-direction: column;
    padding-left: 100px ;
    padding-right: 100px;
    color: rgb(68, 68, 68);
    

}

.ingredients-box ul li {
    list-style: none;
}


.ingredients-content {    
    text-align: justify;
    padding-left: 20px ;
    padding-right: 20px;
    
}


/* DIRECTIONS */



.directions-box {
    display: block;
    text-align: left;
    font-size: 14px;
    padding-left: 100px ;
    padding-right: 100px;
    padding-bottom: 50px;
    color: rgb(68, 68, 68);
    


}

.directions-content {
    text-align: justify;
    padding-left: 20px ;
    padding-right: 20px;

}


.hr {
   margin-left: 120px;
   margin-right: 110px;
}